<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Body types</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
	<h1>Body types</h1>
	<div class="col-md-4">
	
		<form th:object="${body}" th:action="@{savebody}" action="#" method="post">
		  	
		  	
			<input type="text" th:field="*{name}" class="form-control" placeholder="Body type name"/>
			<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
			<div style="clear: both; display: block; height: 10px;"></div>
		  	
    		
    		<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save"></input>
		</form>
		</div>
	</div>
</body>
</html>