<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Body types</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>
<body>

<div class="row justify-content-end" style="background-color:powderblue;">
    <div class="col-4">
      <h1 class="d-flex justify-content-center">Car Store</h1>
    </div>
    <div class="col-4">
      <form th:action="@{/logout}" method="post" class="d-flex justify-content-end">
			<input type="submit" value="Sign Out" class="btn btn-danger btn-sm" style="margin:1px"/>
			<a th:href="@{/login}" class="btn btn-primary btn-sm" style="margin:1px">Sign in</a>
		</form>
    </div>
  </div>
  
<div class="container">
	<h2>Body Types</h2>
	<div class="col-md-4">
	
		<form th:object="${feature}" th:action="@{savefeature}" action="#" method="post">
		  	
		  	
			<input type="text" th:field="*{name}" class="form-control" placeholder="Feature name"/>
			<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
			<div style="clear: both; display: block; height: 10px;"></div>
		  	
    		
    		<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save" class="btn btn-primary"></input>
			<a href="/bodylist" class="btn btn-primary" style="margin: 10px">Back</a>
		</form>
		</div>
	</div>
</body>
</html>