<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>carlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />
</head>
<body>
	<h1 th:text="'Cars of ' + ${body.name}"/></h1>
    <table>
		<tr>
		    <th>Brand</th>
		    <th>Model</th>
			<th>Year</th>
 		</tr>  
    	<tr th:each = "car : ${bodycars}">
    		<td th:text="${car.brand}"></td>
    		<td th:text="${car.model}"></td>
    		<td th:text="${car.year}"></td>
    	</tr>
     </table>
	<a href="/bodylist"  class="btn btn-primary" style="margin: 1px">Back to body list</a>
	
    <a href="/main" class="btn btn-primary">Back to main page</a>
</body>
</html>