<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>carlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
	<div class="col-md-4">
		<h1>Cars</h1>
	</div>
	<div class="col-md-4">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
		
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
			<a th:href="@{/login}" class="btn btn-primary">Sign in</a>
		</form>
	</div>
    
    <div style="padding:0 20px">
    <table class="table table-striped">
		<tr>
		    <th>Brand</th>
		    <th>Model</th>
		    <th>Body type</th>
		    <th>Color</th>
		    <th>Year</th>
		    <th>Price</th>
		    <th>Features</th>
		    <th>Actions</th>
		</tr>  
    	<tr th:each = "car : ${cars}">
    		<td th:text="${car.brand}"></td>
    		<td th:text="${car.model}"></td>
    		<td th:text="${car.body} ? ${car.body.name} : ''"></td>
    		<td th:text="${car.color}"></td>
    		<td th:text="${car.year}"></td>
    		<td th:text="${car.price}"></td>
    		
    		<td>
				<span th:each="feature,iterStat : ${car.features}">
					<span th:text="${feature.name}"/><th:block th:if="${!iterStat.last}"><br></th:block>
				</span>    		
    		</td>
    		<td>
    			<a th:href="@{/addCarFeature/{id}(id=${car.id})}" class="btn btn-primary btn-sm">Add Feature</a>
    			<a th:href="@{/edit/{id}(id=${car.id})}" class="btn btn-primary btn-sm">Edit</a>
    			<a th:href="@{/delete/{id}(id=${car.id})}" class="btn btn-danger btn-sm">Delete</a>
    		</td>
    	</tr>
    </table>
    <a href="/add" class="btn btn-primary">Add Car</a>
    
    <a href="/bodylist" class="btn btn-primary">Body Types</a>
    
	</div>    
</div>
</body>
</html>