<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Body Type</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />
</head>
<body>

<div class="row justify-content-end" style="background-color:powderblue;">
    <div class="col-4">
      <h1 class="d-flex justify-content-center">Car Store</h1>
    </div>
    <div class="col-4">
      <form th:action="@{/logout}" method="post" class="d-flex justify-content-end">
			<input type="submit" value="Sign Out" class="btn btn-danger btn-sm" style="margin:1px"/>
			<a th:href="@{/login}" class="btn btn-primary btn-sm" style="margin:1px">Sign in</a>
		</form>
    </div>
  </div>

<div class="container">
	<div class="col-md-8">
	<h1>Feature types</h1>
	</div>
	<div style="padding:0 20px">
    <table>
		<tr>
		    <th>Name</th>
		    
		</tr>  
    	<tr th:each = "feature : ${features}" style="padding:20px 20px">
    		<td th:text="${feature.name}" style="padding:0 20px"></td>
  			
    	</tr>
     </table>
    </div>
	<a sec:authorize="hasAuthority('ADMIN')" href="/addfeature" class="btn btn-primary">Add Feature</a>
	
	<a href="/cars" class="btn btn-primary">Car List</a>
	</div>
</body>
</html>